.modelDetail {
  position: relative;
  align-items: center;
}

.modelDetail .modelGlass {
  position: absolute;
  top: 10rem;
  left: 8.5rem;
  width: 17rem;
}

.modelDetail .card-body {
  background-color: rgba(253, 172, 117, 0.7);
}
button {
  border: none;
}
